{% extends "simple.html" %}

{% import 'items.html' as Items %}

{% block styles %}

<style type="text/css">

::-webkit-scrollbar {
    width: 10px !important;
}
::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.5) !important;
}

</style>

{% endblock %}

{% block starter %}

<script src="{{ url_for('static', filename='js/db.controller.min.js') }}{{ vsc }}"></script>
<script src="{{ url_for('static', filename='js/seller.dialogs.min.js') }}{{ vsc }}"></script>
<script src="{{ url_for('static', filename='js/scroll.caption.min.js') }}{{ vsc }}"></script>

<script src="{{ url_for('static', filename='js/seller.min.js') }}{{ vsc }}"></script>
<script src="{{ url_for('static', filename='js/reports.min.js') }}{{ vsc }}"></script>

<script type="text/javascript">

var uid = '{{ uid }}';

</script> 

{% endblock %}

{% block header %}

{% include 'simple-header.html' %}

{% endblock %}

{% block page_content %}

<div class="ext-page" id="page-container">
  <div class="caption-container" id="caption">
    <input type="hidden" id="OK" name="OK" value="{{ OK }}">

    <div class="history">
      <div class="back" id="history:back" title="{{ _('Go back') }}"><<</div>
      <div class="forward" id="history:forward" title="{{ _('Go forward') }}">>></div>
    </div>

    <div class="caption">{{ _('Seller Order List') }}</div>
    <div class="caption-name">
      <table border="0">
      <tr>
      <td><h1>{{ attrs['rendered_name']|safe }}</h1></td>
      <td>
      <div class="caption-buttons">
    {% if not is_mobile %}
        <button class="btn btn-primary" id="seller:print">Печать</button>
    {% endif %}
        <button class="btn btn-primary" id="seller:sort" title="Рублевый эквивалент">Сортировка</button>  
    {% if is_page_manager %}
        <button class="btn btn-warning" id="seller:update">Редактировать</button>
    {% else %}
        <button class="btn btn-warning" id="seller:read">Просмотр</button>
    {% endif %}
    {%- if page_menu -%}
      {% for item in page_menu %}
        <button class="btn btn-{{ item[3] }}" href="{{ item[2] }}" id="seller:{{ item[0] }}">{{ item[1] }}</button>
      {% endfor %}
    {%- endif -%}
      </div>
      </td></tr></table>
    </div>

    <div class="header">
      <div class="address">
        <p>{{ _('Company Details') }}: {{ attrs['Title'] }}</p>
        <p>{{ _('Address') }}: {{ attrs['Address'] }}</p>
        <div class="inline">
          <dt>{{ _('URL') }}:</dt>
          <dd><p class="link">{{ attrs['rendered_link']|safe }}</p></dd>
        </div>
      </div>

      <div class="sum_price">{{ _('Total orders') }}: 
        <span class="total_count">{{ total }}</span> {{ _('with price') }} 
        <span class="total_price">{{ sum_price }}</span> {{ currency }}
      </div>
    </div>
  </div>

  <div class="view-container" id="line-content">
    <form action="{{ action }}" class="common-form" id="seller-orders-form" method="POST" enctype="multipart/form-data">
      <input type="hidden" id="command" name="command" value="">

    <table class="lines" border="0">
  {% for order in orders -%}
    {% set id = order['TID'] -%}

    <tr class="line" id="row-line:{{ id }}:{{ loop.index }}">
    {% for column in columns -%}
      <td class="column {{ column }} {{ order['classes'].get(column, '') }}" title="{{ titles[id][column] }}">{{ order[column] }}</td>
    {%- endfor -%}
    </tr>

    <tr>
      <td colspan="{{ columns|length }}">
      <div class="info-container {{ states[0] }}" id="info:{{ id }}:{{ loop.index }}">
        <table class="info" border="0">
      {% for key in keys -%}
          <tr><td><dt>{{ headers[key]['title'] }}:</dt></td><td class="{{ headers[key]['class'] }}"><dd>{{ items[id][key]|safe }}</dd></td></tr>
      {%- endfor -%}
        </table>
      </div>
      </td>
    </tr>

  {%- endfor -%}
    </table>

  {%- if not orders -%}
    <div class="nodata">{{ _('No data') }}</div>
  {%- endif -%}

    </form>
  </div>
</div>

{% endblock %}

{% block dialogs_content %}

<div class="common-dialog" id="seller-confirm-container" title="{{ _('Seller edit form') }}" style="display:none;">
  <h3 id="seller-header">{{ _('Input form items to edit Seller attributes.') }}</h3>
  <div class="common-confirmation">
    <h4 id="seller-caption">{{ _('Seller rules see in the application documentation.') }}</h4>
    <div class="common-box common-panel">
      <div id="seller-box">
        <form action="{{ action }}" class="common-form" id="seller-form" method="POST">
          <input type="hidden" name="uid" value="{{ uid }}">
          <input type="hidden" id="command" name="command" value="">

        <div class="seller-item common-next">

          {{ Items.input('name', 'name', 'text', registry['Name'], 'caption name', 'Наименование компании', 0, '') }}

        </div>
        <div class="seller-item common-next">

          {{ Items.input('code', 'code', 'text', registry['Code'], 'caption code', 'Код 1C', 0, '') }}

        </div>
        <div class="seller-item common-next">

          {{ Items.selected_combo('type', 'type', types, 'caption type', 'Орг-правовая форма', registry['Type'], '') }}

        </div>
        <div class="seller-item common-next">

          {{ Items.textarea('title', 'title', registry['Title'], 'caption title', 'Реквизиты', 0, '') }}

        </div>
        <div class="seller-item common-next">

          {{ Items.textarea('address', 'address', registry['Address'], 'caption address', 'Адрес местонахождения организации', 0, '') }}

        </div>
        <div class="seller-item common-next">

          {{ Items.textarea('contact', 'contact', registry['Contact'], 'caption contact', 'Контактные лица', 0, '') }}

        </div>
        <div class="seller-item common-next">

          {{ Items.textarea('url', 'url', registry['URL'], 'caption url', 'Адрес сайта (URL)', 0, '') }}

        </div>
        <div class="seller-item common-next">

          {{ Items.input('phone', 'phone', 'text', registry['Phone'], 'caption phone', 'Телефон', 0, '') }}

        </div>
        <div class="seller-item common-next">

          {{ Items.input('email', 'email', 'text', registry['Email'], 'caption email', 'Email', 0, '') }}

        </div>

        </form>
      </div>
    </div>
  </div>
</div>

<form action="" id="filter-form" method="POST"></form>

{% endblock %}
